<div class="col-md-3 outer-stage" data-stage-id="{{currentId}}">  
    <div id="{{currentId}}" class="panel panel-default stage-block">
        <div class="panel-heading">           
            <a role="button" class="autojoin" data-toggle="collapse" href="#{{currentId}}_collapse">{{stage.name}}</a>
            <div class="collapse" id="{{currentId}}_collapse">{{{stepListing}}}</div>
                        
            <a role="button" class="open-stage-config" data-stage-id="{{currentId}}">
              <span class="glyphicon glyphicon-option-horizontal" aria-hidden="true"></span>
            </a>
            <div id="edit-stage-popover-{{currentId}}" data-placement="bottom"></div>
            
        </div>
    </div>
</div>
