<div class="col-md-3">
    <div id="{{currentId}}" class="panel panel-default">
        <div class="panel-heading">
            <a role="button" class="autojoin" data-toggle="collapse" href="#{{currentId}}_collapse">{{stage.name}}</a>
            <div class="collapse" id="{{currentId}}_collapse">{{{stepListing}}}</div>
        </div>
    </div>
</div>