<li>
    <div id="{{subStageId}}" class="panel panel-default">
        <div class="panel-heading">
            <a role="button" class="autojoin" data-toggle="collapse" href="#{{subStageId}}_collapse">{{stageName}}:{{subStage.name}}</a>
            <div class="collapse" id="{{subStageId}}_collapse">{{{stepListing}}}</div>
        </div>
    </div>
</li>'